

.brandA {
	--theme-primary-background: red;
	--theme-primary-text: red;
}

.brandA c-user-account-button {
	display: inline-block;
	padding: 1em;
	background-color: red;
}


@media (prefers-color-scheme: light) {
	.brandA {
		--theme-primary-background: floralwhite;
		--theme-primary-text: black;
	}
}

@media (prefers-color-scheme: dark) {
	.brandA {
		--theme-primary-background: darkblue;
		--theme-primary-text: white;
	}
}